<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Merci pour ta commande !</h1>
    <p>
      Tu as commandé : 
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi <a href="<% @url %>">ici</a>.
    </p>
    <p> À très vite sur Pussysnapshot !
  </body>

</html>