<<<<<<< HEAD
<div class="container">
  <div class="row">
    <div class="col">
      <% all_items.each do |item| %>
      <%@item = item %>
        <p><%= image_tag item.image_url, width: 200 %></p>
        <p><%= item.price %> €</p>
        <p><a href="<%= item_path(@item.id)%>" class="btn btn-info">Découvrir la photo</a></p><br>
      <% end %>
    </div>
  </div>
</div>
=======
<h1> salut </h1>
>>>>>>> 16d95de79a157d9abc795388f5ac95d02c0149aa
