            <!--Page Content -->
            <section class="content-page">
                <div class="container">
                    <div class="row">
                        <!--Product Content -->
                        <div class="col-12">
                            
                            <!-- Product -->
                            <div class="row product-list-item">
                              <% all_items.each do |item| %>
                              <%@item = item %>
                                <!-- item -->
                                <div cl²ass="product-item-element col-sm-6 col-md-4 col-lg-3">
                                    <div class="product-item">
                                        <div class="product-item-img">
                                            <div class="product-item-img-wrap">
                                                <%= image_tag item.image_url, width: 200 %>
                                            </div>
                                            <div class="new-label">New</div>
                                           
                                        </div>
                                        <div class="product-item-content">
												<%=link_to item.title, item_path(item.id), class: 'product-title' %>
                                            <div class="product-rating">
                                                <div class="star-rating">
                                                    <span style="width: 60%;"></span>
                                                </div>
                                            </div>
                                            <div class="product-price"><%= item.price %> €</div>
                                        </div>
                                    </div>
                                </div>

                              <% end %>  
                            <!-- End Product -->

                        </div>
                        <!--End Product Content -->

                    </div>
                </div>
            </section>
            <!--End Page Content -->