<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= current_item.title %></h1>
      <p><%= image_tag current_item.image_url, width: 200 %> <%= current_item.price %> € </p>
      <p><em><%= current_item.description %><em></p>
    </div>
  </div>
</div>