<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= current_item.title %></h1>
      <p><%= current_item.description %></p>
      <p><%= current_item.price %> € </p>
      <img src="<%= current_item.image_url %>">
    </div>
  </div>
</div>